.grid-container {
  display: grid;
  grid-template-columns: 60px 60px 60px 60px;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  height: 40px;
  text-align: center;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#green {
  background-color: green;
}

#black {
  background-color: black;
}
